.root {
    color: oklch(100% 0 0);
    background-color:#414141;
}

.display {
    child-bottom:0.5em;
    child-left:0.5em;
    child-top:0.5em;
    child-right:0.5em;
    font-size:50px;
    height:2em;
    width:100%;
    space:0;
    text-align:right;
}

.row {
    display:row;
}

.button {
    height:1s;
    space:2px 4px;
    background-image: none;
    background-color:#666;
    border-radius:10px;
    border:1px #000000;
    child-bottom:1s;
    child-left:1s;
    child-right:1s;
    child-top:1s;
    font-size:30px;
    text-shadow: 0px 1px #000000;
    box-shadow: none;
}

.wide {
    child-left:0.5s;
    child-right:1.5s;
    flex-basis:7px;
    width:2.0s;
}

.button:hover {
    background-image:linear-gradient(#fff7, #fff7);
}

.button:active {
    background-image:linear-gradient(#0007, #0007);
}

.orange {
    background-color:#F91;
}
