.Wrap {
  flex-grow: 1.0;
  background-color: red;
}

.display {
  flex-grow: 1.0;
}

.btn {
  flex-grow: 1.0;
}

.btn-double {
  flex-grow: 2.0;
}

.btn-triple {
  flex-grow: 3.0;
}

.orange {
  background-color: orange;
}
