.root {
    font-family: Arial;
    font-size: 30px;
    color:rgb(255, 255, 255);
    flex-direction: column;
    background-color: rgb(71, 71, 71);
}

.display {
    padding: 25px;
    min-height: 30px;
    max-height: 30px;
}

.row {
    min-height: 75px;
}

.btn {
    flex-direction: row;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    margin: 2px;
    padding: 25px;
    background-image: linear-gradient(rgb(150, 150, 150), 10%, rgb(105, 105, 105), 90%, rgb(74, 74, 74));
}

.double {
    flex-grow: 2.0;
    width: 55px;
    min-width: 55px;
}

.orange {
    background-image: linear-gradient(rgb(255, 128, 0), 90%, rgb(150, 72, 0));
}

.btn:hover {
    background-image: linear-gradient(rgb(165, 165, 165), 10%, rgb(123, 123, 123), 90%, rgb(74, 74, 74));
}

.orange:hover {
    background-image: linear-gradient(rgb(255, 151, 47), 90%, rgb(163, 79, 0));
}
