.root {
    font-family: Helvetica;
    font-size: 30px;
    color:rgb(255, 255, 255);
    flex-direction: column;
    background-color: rgb(71, 71, 71);
}

.display {
    padding: 50px;
    min-height: 50px;
    max-height: 50px;
}

.row {
    min-height: 75px;
}

.btn {
    flex-direction: row;
    background-color: rgb(105, 105, 105);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 10px;
    margin: 2px;
    padding: 25px;
}

.double {
    flex-grow: 2.0;
    width: 55px;
    min-width: 55px;
}

.orange {
    background-color: rgb(255, 150, 0);
}
