.root {
    font-family: roboto-regular;
    font-size: 60px;
    color: beige;
    background-color: rgb(71, 71, 71);
    flex-direction: column;
    display: flex;
}

.text {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    margin: 100px;
    margin-bottom: 0;
    padding: 0 132px;
}

.bump {
    border-radius: 20px;
    background-image: linear-gradient(rgb(106, 175, 198), rgb(35, 85, 155));
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 100px;
    padding: 10px 132px;
}