.root {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.toolbar {
    max-height: 70px;
    min-height: 70px;
    background-color: grey;
    border-bottom: 1px solid black;
    border-color: rgb(65, 65, 65);
    background-image: linear-gradient(rgb(162, 162, 162), 90%, rgb(111, 111, 111));
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.clear {
    border: 1px solid rgb(17, 19, 54);
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(31, 77, 151), rgb(19, 52, 109));
    max-width: 2.4em;
    max-height: 1.2em;
    padding: 1em;
    margin: 0.5em;
    font-size: 16px;
    border-radius: 0.3em;
}

.clear:hover {
    background-image: linear-gradient(rgb(46, 112, 217), rgb(38, 84, 158));
}
