.root {
    background-color: rgb(200, 200, 200);
}

.clear {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 69, 120);
    max-width: 2.4em;
    max-height: 1.2em;
    padding: 1em;
    margin: 0.5em;
    font-size: 16px;
    border-radius: 0.8em;
    border-width: 1px;
    border-color: rgb(21, 39, 68);
}