.root {
    flex-direction: column;
    background-color: rgb(200, 200, 200);
}

.toolbar {
    max-height: 70px;
    min-height: 70px;
    background-color: grey;
    border: 1px;
}

.clear {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 69, 120);
    max-width: 2.4em;
    max-height: 1.2em;
    padding: 1em;
    margin: 0.5em;
    font-size: 16px;
    border-radius: 0.8em;
}

.clear:hover {
    background-color: rgb(38, 84, 158);
}